* {
    font-size: 18px;
}

.navbar-custom {
    background-color: rgba(217, 217, 217, 0.5);
    padding-left: 1%;
}

.hero-section-custom {
    background-color: lightgray;
    height: 80vh;
}

@media (min-width:1120px) {
    .hero-section-custom {
        background-image: url("img/pexels-mart-production-8436997.jpg");
        background-size: cover;
        background-position: right;
        height: 110vh;
    }
}

.header-margin-custom {
    margin-top: 50px;
    margin-bottom: 30px;
} 

.hero-text-custom {
    margin-top: 10%;
    margin-left: 2%;
}

.button-custom {
    margin-top: 20px;
    margin-right: 100px;
}

.hero-btn-wrapper {
    margin-top: 70px;
}

.button-link-custom {
    color: black;
    text-decoration: none;
    
}

.button-icon-custom {
    margin-left: 30px;
}

.about-us {
    background-color: #D5D7D2;
}

.carousel-item img {
    max-height: 80%;
    object-fit: cover;
}

.about-us-header {
    margin-bottom: 30px;
}

.about-us-carousel {
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-us-text {
    margin-bottom: 50px;
}

.about-us-text .button-custom {
    margin-top: 50px;
}

.about-us-text h2 {
    margin-bottom: 50px;
}

.services-cor .card {
    background-color: #D9D9D9;
}

.services-header {
    padding: 50px 0 50px 1%;
}

.services-button-link {
    margin-top: 50px;
    margin-bottom: 20px;
}

.tech-custom {
    background-color: #D5D7D2;
}

.tech-custom h2 {
    padding-top: 50px;
    margin-bottom: 50px;
}

.tech-custom img {
    width: 95%;
    height: 300px;
    object-fit: cover;
}

.custom-border {
    border: 2px solid lightgrey;
}

.blog-custom h2 {
    margin-top: 50px;
    margin-bottom: 30px;
}

.blog-custom .card {
    background-color: #6C6C6C;
    color: white;
}

.tech-custom .card {
    background-color: #6C6C6C;
    color: white;
}

.tech-custom-car {
    background-color: #6C6C6C;
    color: white;
}
